// @import './variables.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  height: 100%
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.app-container {
  padding: 0px 20px 0px 20px;
  background-color: #F8F8F8;
}

.el-tree {
  height: calc(100% - 40px);
  // padding: 5px 0;

  .el-tree-node__content {
    height: 30px;
    line-height: 30px;
  }

  .el-tree-node__label {
    font-size: 16px !important;
  }
}

.el-table,
.group-rename,
.scene-rename,
.tree-rename {
  box-shadow: 0px 0px 8px 0px lightgrey;
}

.el-tabs__header {
  margin: 0 0 6px !important;
}

.el-table th,
.el-table td {
  padding: 6px 0 !important;
}

.word-filter {
  display: flex;
  align-items: center;
  ;
  margin-bottom: 10px;
}

.filter-name {
  white-space: nowrap;
}

.input-filter {
  margin-left: 6px;
}

.dialog-rewrite .el-dialog .el-dialog__body {
  padding: 0 15px 15px 15px;
  // padding-left: 20px;
}


.target-detail {
  font-size: 16px;
  line-height: 36px;
}

.statistics-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.detai-info {
  //目标详情统一样式
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
}

.capture-img {
  //图片统一样式
  width: 30px;
  height: 30px;
}
