// @import './variables.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  height: 100%
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.app-container {
  padding: 0px 00px 0px 0px;
  background-color: #F8F8F8;
}

.el-tree {
  height: calc(100% - 40px);
  // padding: 5px 0;

  .el-tree-node__content {
    height: 30px;
    line-height: 30px;
  }

  .el-tree-node__label {
    font-size: 16px !important;
  }
}

.el-table,
.group-rename,
.scene-rename,
.tree-rename {
  box-shadow: 0px 0px 8px 0px lightgrey;
}

.el-tabs__header {
  margin: 0 0 6px !important;
}

.el-table th,
.el-table td {
  padding: 6px 0 !important;
}

.word-filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.word-filter-rewrite {
  display: flex;
  align-items: flex-start;
}

.filter-grop {
  margin-left: 6px;
  line-height: 26px;
}

.filter-name {
  white-space: nowrap;
  display: inline-block;
  min-width: 60px;
  text-align: right;
}

.input-filter {
  margin-left: 6px;
}

.dialog-rewrite .el-dialog .el-dialog__body {
  padding: 0 15px 15px 15px;
}


.target-detail {
  font-size: 16px;
  line-height: 36px;
}

.statistics-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.detai-info {
  //目标详情统一样式
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
}

img {
  //图片统一样式
  width: 30px;
  height: 30px;
}

.header-left img {
  width: 120px;
}

.el-menu-item-group__title {
  padding: 0px !important;
}

.el-submenu .el-submenu__title {
  border-bottom: 1px solid #c0c4cc;
}

.el-menu-item {
  border-bottom: 1px solid #c0c4cc;
}

.el-submenu .el-menu-item {
  border-bottom: 1px solid #ebeef5;
}

.el-menu-item.is-active {
  color: #303133;
}

// .el-menu-item .showHidden{
//   color: #303133 !important;
// }
.el-menu-item.showHidden {
  color: #303133 !important;
}

.rowUpdate {
  &:hover {
    cursor: pointer;
  }
}

.capture-img {
  //图片大小
  width: 30px;
  height: 30px;
}

.col-line {
  //详细信息分割线
  border-right: 1px solid #E4E7ED;
}

.el-upload--picture-card {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
}

.indexNum {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fun-btn {
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -11px;

  .iconfont {
    font-size: 19px;
    color: #8091a5;
    cursor: pointer;
  }
}

.el-submenu .el-menu-item {
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
  min-width: 150px;
}

.el-upload-list--picture-card .el-upload-list__item,
.el-upload-list--picture-card .el-upload-list__item-thumbnail {
  width: 100px !important;
  height: 100px !important;

}

.el-col-20 {
  position: relative;
}

.vistorItemForm .el-form-item__content .el-form-item__error {
  padding-top: 0px !important;
}

.select-class .el-input--small .el-input__inner {
  width: 257px !important;
}

.select-rewrite .el-input--small .el-input__inner {
  width: 232px !important;
}
